# vim bundles
.vim/bundle

# coc extensions
.config/coc/extensions

# zed
.config/zed/conversations
.config/zed/embeddings
.config/zed/prompts

# zsh custom
zsh_custom/plugins/

# OSX
.DS_Store
Thumbs.db
Desktop.ini
.*.sw[a-z]
